<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Not authenticated by Integra!</title>
  </head>
  <body class="main">
    <img class="logo" src="../../logo.png" alt="Integra" />
    <img class="image" src="../../unauthenticated.png" alt="Unauthenticated" />
    <p class="item">Document was not found by Integra</p>
  </body>
</html>
<style>
  .main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .image {
    max-width: 20%;
    max-height: 20%;
  }
  .item {
    font-size: 20px;
  }
</style>