<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Authenticated by Integra!</title>
  </head>
  <body class="main">
    <img class="logo" src="../../logo.png" alt="Integra" />
    <img class="image" src="../../authenticated.png" alt="Authenticated" />
    <table class="info">
      <tbody>
        <tr>
          <td class="label">Integra ID:</td>
          <td class="value"><%= identityId %></td>
        </tr>
        <tr>
          <td class="label">Document Hash:</td>
          <td class="value"><%= value %></td>
        </tr>
        <tr>
          <td class="label">MetaData:</td>
          <td class="value"><%= metaData %></td>
        </tr>
        <tr>
          <td class="label">CreationDate:</td>
          <td class="value"><%= creationDate %></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
<style>
  .main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .image {
    max-width: 20%;
    max-height: 20%;
  }
  .info {
    font-size: 20px;
  }
  .label {
    text-align: right;
  }
  .value {
    text-align: left;
    padding-left: 5px;
  }
</style>